*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(235, 105, 181));
    padding: 10px;
}
.todo-app{
    width: 90%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-transform: uppercase;    
}
.todo-app input{
    width: 85%;
    height: 2.5rem;
    text-decoration: none;
    background: rgb(207, 207, 207);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    
}
.todo-app button{
    width: 10%;
    height: 2.5rem;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
    
}
ul li::before{
    content:'';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    background-image:url('R\ \(3\).png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
}
ul li,:checked{
    color: rgb(163, 161, 161);
    text-decoration: line-through;
}
ul li,:checked::before {
    background-image: url('verde.png');

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: grey;
    cursor: pointer;

}
ul li span:hover{
    color: red;
}
 